@import './mixins.scss';

.thumbs {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @include desktop {
    width: 45px;
    height: 45px;
  }
}

.outlined-selected {
  outline: 2px solid var(--color-white);
}

.mobile-glass-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, var(--color-darker) 0%, var(--color-darker-background) 100%);
}

.voting-card {
  position: relative;
  width: 300px;
  height: 300px;


  @include tablet {
    width: 100%;
    height: 142px;
  }

  @include desktop {
    height: 170px;
  }

  &__glass-background {
    @extend .mobile-glass-background;

    @include tablet {
      background: linear-gradient(90deg, var(--color-darker) 0%, #888 19.79%, #666 50%, var(--color-gray-background) 71.88%);
    }
  }

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;

    @include tablet() {
      width: 20%;
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    div {
      z-index: 2;
    }

    @include tablet {
      justify-content: space-between;
    }
  }

  &__details {
    padding-right: 34px;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-right: 15px;
    }
  }

  &__title {
    margin: 0 0 5px;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1;

    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;

    @include tablet {
      font-size: 2.143rem;
      margin-top: 8px;
      -webkit-line-clamp: 1;
    }

    @include desktop() {
      font-size: 2rem;
    }
  }

  &__description {
    margin: 0 0 12px;
    font-size: 1.25rem;
    font-weight: 400;

    width: 100%;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;

    @include tablet {
      font-size: 1.071rem;
    }

    @include desktop() {
      font-size: 1rem;
    }
  }

  &__info {
    display: flex;
    align-items: flex-start;
    gap: 5px;

    @include tablet {
      flex: 1;
      gap: 150px;
    }
  }

  &__vote-button {
    color: var(--color-white);
    border: 1px solid var(--color-white);
    padding: 5px 10px;
    font-size: 1.25rem;
    min-width: 107px;
    background: rgba(48, 48, 48, 0.60);

    &:disabled {
      background: rgba(0, 0, 0, 0.60);
    }

    @include tablet {
      font-size: 1.071rem;
      padding: 8px;
    }

    @include desktop() {
      font-size: 1rem;
      padding: 5px 10px;
      min-width: 135px;
    }
  }

  &__result {
    @extend .thumbs;
  }

  &__result img {
    @include desktop() {
      width: 50%;
    }
  }

  &__positive {
    background-color: rgba(var(--color-green-positive), .8);
  }

  &__negative {
    background-color: rgba(var(--color-yellow-negative), .8);
  }

  &__cta {
    display: flex;
    flex-direction: column;
    padding: 0;

    @include tablet {
      padding: 0;
    }
  }

  &__category {
    text-align: right;
    margin: 0 0 16px;
    font-weight: 700;

    @include tablet {
      font-size: 0.85rem;
      margin-top: 8px;
    }
  }

  &__buttons {
    display: flex;
    gap: 12px;
    justify-content: flex-end;

    &.thumbs-up {
      .icon-button[aria-label="thumbs up"] {
        @extend .outlined-selected
      }
    }

    &.thumbs-down {
      .icon-button[aria-label="thumbs down"] {
        @extend .outlined-selected
      }
    }
  }

  &__buttons .icon-button {
    @extend .thumbs;
  }

  &__buttons img {
    width: 50%;
    height: 50%;
  }

  &__gauge {
    display: flex;
    margin-top: 12px;
  }

  &__gauge>div {
    min-height: 36px;
    display: flex;
    align-items: center;
    gap: 10px;

    @include desktop {
      min-height: 54px;
    }
  }

  &__gauge-left {
    background: rgba(60, 187, 180, 0.60);
    width: 50%;
    justify-content: flex-start;
    padding-left: 12px;
  }

  &__gauge-right {
    width: 50%;
    background: rgba(249, 173, 29, 0.60);
    padding-right: 12px;
    flex-direction: row-reverse;
  }

  &.grid {
    @include tablet {
      position: relative;
      min-width: 351px;
      min-height: 351px;
    }

    @include desktop {
      min-width: 348px;
      min-height: 348px;
    }
  }

  &.grid & {
    @include tablet {
      &__background {
        width: 100%;
      }

      &__glass-background {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%);
      }

      &__content {
        justify-content: flex-end;
      }

      &__details {
        flex-direction: column;
        padding-right: 34px;
      }

      &__info {
        gap: 5px;
      }

      &__title {
        margin-top: 0;
        width: 100%;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        display: -webkit-box;

      }

      &__buttons {
        button.icon-button {
          width: 30px;
          height: 30px;
        }
      }

      &__result {
        width: 30px;
        height: 30px;
      }

      &__vote-button {
        min-width: 107px;
      }

      &__gauge>div {
        gap: 6px;
      }

    }

  }
}